In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

# New Section

# New Section

In [ ]:
train = pd.read_csv('train.csv')
train=train.drop("id",axis=1)
train['bmi'].isna().sum()
train['bmi']=train['bmi'].fillna(train['bmi'].mean())
train['gender']=train['gender'].replace({"Female":"1","Male":"0","Other":"1"}).astype(int)
train['work_type']=train['work_type'].replace({"Private":"1","Self-employed":"0","children":"2",
"Govt_job":"3","Never_worked":"4"}).astype(int)
train['gender']=train['gender'].replace({"Female":"1","Male":"0","Other":"1"}).astype(int)
train['ever_married']=train['ever_married'].replace({"Yes":"1","No":"0"}).astype(int)
train['Residence_type']=train['Residence_type'].replace({"Urban":"1","Rural":"0"}).astype(int)
train['smoking_status']=train['smoking_status'].replace({"never smoked":"0","Unknown":"1","formerly smoked":"2",
"smokes":"3"}).astype(int)
x= train.drop('stroke',axis=1)
y=train['stroke']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=0)

In [ ]:
m=LogisticRegression(max_iter=5000)
m.fit(x_train, y_train)
y_pre=m.predict(x_test)
metrics.accuracy_score(y_test,y_pre)

0.9535452322738386

In [ ]:
test=pd.read_csv('test.csv')
id=test['id']
test=test.drop("id",axis=1)
s=pd.get_dummies(test['gender'])
work=pd.get_dummies(test['work_type'])
test['bmi']=test['bmi'].fillna(test['bmi'].mean())
test['gender']=test['gender'].replace({"Female":"1","Male":"0"}).astype(int)
test['work_type']=test['work_type'].replace({"Private":"1","Self-employed":"0","children":"2",
"Govt_job":"3","Never_worked":"4"}).astype(int)
test['gender']=test['gender'].replace({"Female":"1","Male":"0","Other":"1"}).astype(int)
test['ever_married']=train['ever_married'].replace({"Yes":"1","No":"0"}).astype(int)
test['Residence_type']=test['Residence_type'].replace({"Urban":"1","Rural":"0"}).astype(int)
test['smoking_status']=test['smoking_status'].replace({"never smoked":"0","Unknown":"1","formerly smoked":"2",
"smokes":"3"}).astype(int)

In [ ]:
y_pre2=m.predict(test)

 
datatest=pd.DataFrame({'id': id,'stroke':y_pre2})
datatest.to_csv('pre.csv',index=False)
p=pd.read_csv('pre.csv')

In [ ]:
p

         id  stroke
0     61960       0
1     31741       0
2     59451       0
3     40670       0
4     25391       0
...     ...     ...
1017   2953       0
1018  47799       0
1019  61013       0
1020  66400       0
1021   9013       0

[1022 rows x 2 columns]